.usd{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-blue);
    padding-left: 0.3rem;
}

.period{
    color: var( --text-secondary);
    opacity: 0.7;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* добавляем это */
    flex-direction: row; /* исправляем raw на row */
    margin-bottom: 3rem;
    width: 80%; 
}

.statscontainer {
    text-align: right; /* выравниваем содержимое по правому краю */
}

.logo {
    opacity: 0.8;
}

.segmentedWrapper :global(.ant-segmented) {
    background-color: var(--background-tertiary);
    border: 1px solid var(--accent-purple);
    padding: 2px;
}

.segmentedWrapper :global(.ant-segmented-item) {
    color: var(--text-secondary);
}

.segmentedWrapper :global(.ant-segmented-item:last-child) {
    border-right: none;
}

.segmentedWrapper :global(.ant-segmented-item-selected) {
    color: var(--text-primary);
    background-color: var(--accent-primary);
}

.segmentedWrapper :global(.ant-segmented-thumb) {
    background-color: var(--accent-primary);
    border: none !important; /* Убираем светлую обводку */
    box-shadow: none !important; /* Убираем возможное свечение */
}