.layout {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.content {
  flex: 1;
  overflow-y: auto;
  background-color: var(--accent-secondary);
}

.header, .footer {
  background-color: var(--background-secondary);
  color: var(--text-primary);
}
