.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--background-primary);
}

.content {
  flex: 1;
  overflow-y: auto;
  background-color: var(--background-primary);
  background-clip: padding-box;
}

.header,
.footer {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  height: 8vh;
}