.scrollButton {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: var(--background-tertiary);
    box-shadow: 0 2px 6px rgba(233, 2, 2, 0.15);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollButton svg path {
    stroke: var(--accent-blue);
}

@media (max-width: 680px) {
    .scrollButton{
        display: none;
    }
}